.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.dataList {
    .add-icon {
        span {
            font-size: 30px;
            color: #000000;
        }
    }
}