<section>
    <!-- Start: List Heading -->
    <div class="dataList d-flex justify-content-space-between align-items-center">
        <h5>Company</h5>
        <div class="add-icon">
            <button class="add-icon bi bi-plus-circle border-0 bg-transparent fs-3"></button>
        </div>
    </div>
    <!-- End: List Heading -->

    <!-- Start: Search-box -->
    <div class="search-box">
        <input type="search" name="" id="">
    </div>
    <!-- End: Search-box -->

    <!-- Start: List Of Company -->
    <a href="" class="text-decoration-none listdata">
        <ul class="list-group mt-3" *ngFor="let companyList of company">
            <li class="list-group-item d-flex align-items-center justify-content-space-between">
               <span>{{companyList.companyName | nameInitials}}</span> 
                {{companyList.companyName | titlecase}}
                <button class="delete-icon bi bi-x-square border-0 bg-transparent" (click)="onDelete(companyList.id)"></button>
            </li>
        </ul>
    </a>
    <!-- End: List Of Company -->
</section>