<section>
    <!-- Start: List Heading -->
    <div class="dataList d-flex justify-content-space-between align-items-center">
        <h5>Company</h5>
        <div class="add-icon">
            <a href="">
                <span class="bi bi-plus-circle"></span>
            </a>
        </div>
    </div>
    <!-- End: List Heading -->

    <!-- Start: Search-box -->
    <div class="search-box">
        <input type="search" name="" id="">
    </div>
    <!-- End: Search-box -->

    <!-- Start: List Of Company -->
    <a href="" class="text-decoration-none listdata">
        <ul class="list-group mt-3" *ngFor="let companyList of company">
            <li class="list-group-item d-flex align-items-center justify-content-space-between">
                {{companyList.companyName}}
                <a href="" class="delete-icon">
                    <span class="bi bi-x-square"></span>
                </a>
            </li>
        </ul>
    </a>
    <!-- End: List Of Company -->

</section>