<section>
    <!-- Start: List Heading -->
    <div class="dataList d-flex justify-content-space-between align-items-center">
        <h5>Company</h5>
        <div class="add-icon">
            <a href="">
                <span class="bi bi-plus-circle"></span>
            </a>
        </div>
    </div>
    <!-- End: List Heading -->

    <!-- Start: Search-box -->
    <div class="search-box">
        <input type="search" name="" id="">
    </div>
    <!-- End: Search-box -->

    <!-- Start: List Of Company -->
   
    <!-- End: List Of Company -->
   
</section>