/* You can add global styles to this file, and also import other style files */
// VENDOR-FILE
@import "assets/scss/vendor/index";

// BASE-FILE
@import "assets/scss/base/index";


//Bootstrap Icons
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';

//Multi select dropdown theme
@import "~@ng-select/ng-select/themes/default.theme.css";

//COMMON STYLES
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight-medium;
    background-color: $body-bg;
    color: $body-color;
    overflow: hidden;
}