<!-- Navbar -->
<section class="header-navbar">
<nav class="navbar navbar-expand-lg">
    <!-- Container wrapper -->
    <div class="container-fluid d-flex align-item-center">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0">
                <span class="bi bi-list"></span>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="company">Company</a>
                </li>
            </ul>
            <!-- links -->
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<a class="breadcrumb text-decoration-none">Company/{{breadcrumbName}}</a>
</section>
<!-- Navbar -->